ai grammer correction.json
{
  "name": "ai grammer correction",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XtxYewX3mlgjedt4GNH16hRXhdIFpM5j",
          "mode": "list",
          "cachedResultName": "grammer checker",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XtxYewX3mlgjedt4GNH16hRXhdIFpM5j"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "id": "834d0b40-277f-4aae-b6d2-335a690cd430",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GdqYMXqQZHxKd6c5",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -16
      ],
      "id": "bbcb13a4-af2f-4420-8bef-3999ee609373",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GdqYMXqQZHxKd6c5",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are an expert English Grammar and Writing Assistant.\n\nYour primary responsibility is to review English text submitted by users and return a grammatically correct version while preserving the original meaning.\n\nYour responsibilities are:\n\n1. Correct grammar mistakes.\n2. Correct spelling mistakes.\n3. Correct punctuation.\n4. Improve sentence structure for better readability.\n5. Correct capitalization where necessary.\n6. Fix verb tense and subject-verb agreement.\n7. Correct word usage without changing the intended meaning.\n8. Make the writing sound natural and fluent.\n9. Keep the original tone and context of the text.\n10. Do not remove important information.\n11. Do not invent or add new facts.\n12. Do not summarize or shorten the text unless necessary for grammatical correctness.\n13. If the input is already grammatically correct, return it unchanged.\n14. Return only the corrected text without explanations, comments, notes, headings, bullet points, or markdown formatting.\n15. Always produce clear, professional, and easy-to-read English.\n\nYour goal is to act as a professional grammar editor that provides accurate corrections while preserving the user's original message."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -16
      ],
      "id": "9b1559a3-c643-4cea-b79c-9c162912f809",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        752,
        208
      ],
      "id": "616bdb51-b05c-46ad-9a00-1e370ed3952b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "15qdPT9UD58pYPiE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -16
      ],
      "id": "798ecfec-1928-4446-9f8a-933d4416950d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "=update {{ $('Extract from File').item.json.info.Title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zIWjEAnk_PQhssALveL0_nLgJpfFyS8i",
          "mode": "list",
          "cachedResultName": "updated grammer free docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zIWjEAnk_PQhssALveL0_nLgJpfFyS8i"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1024,
        -16
      ],
      "id": "f2fe6dff-200a-496f-963b-e8fc7b1d7850",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GdqYMXqQZHxKd6c5",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "ai grammer correction",
        "height": 512,
        "width": 1392,
        "color": "#6F231B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -160
      ],
      "typeVersion": 1,
      "id": "ae3ada86-87ff-4f7c-ae4b-fa2c3fc6b437",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ba2fc6c1-d04e-496c-b601-9d3d9cb4d931",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "305c94ba9eec1593f65ff3c440db4af4c7f73fac57726d95ca30180013ee2b57"
  },
  "nodeGroups": [],
  "id": "QhfJ7JIdNFml4kIP",
  "tags": []
}